<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily-Report App</title>
    <link rel="stylesheet" href="/assets/index.css"> 
</head>
<body>
    <header class="container mt-3 mb-3">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/images/company-logo.png" alt="Company Logo" id="company-logo" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h1>Welcome, Daily Report Portal</h1>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">User Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="adminlogin.html">Admin Login</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <section class="mt-4">
            <h2>How it Works</h2>
            <p>This application allows you to easily submit your daily work hours across different projects. Simply login, select the date, enter your project details and time worked.</p>
        </section>
        <section class="mt-4">
            <h2>Get Started</h2>
            <p>Not yet registered? Click on Register to create an account. If you already have an account, just log in to start filling out your daily-reports.</p>
        </section>
    </main>
    <footer class="container mt-4">
        <p>&copy; 2024 John A. Pappalas Daily Report App. All rights reserved.</p>
    </footer>
</body>
</html>
