/* Container for the form */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Arial', sans-serif;
}
#company-logo {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    padding-bottom: 20px; 
  }
  /* General styles for the form */
  #login-form, #registration-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px; 
  }
  
  #login-form div, #registration-form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"], 
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn, 
  button[type="submit"] { 
    width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover,
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  