<link rel="stylesheet" href="../assets/login.css">

<form id="login-form" action="/login" method="post">
    <div class="form-group">
      <img src="../assets/images/company-logo.png" alt="Company Logo" id="company-logo" class="img-fluid">
    </div>
    <nav>
      <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="timesheet.html">Timesheet</a></li>
          <li><a href="daily-report.html">Daily-Report</a></li>
      </ul>
  </nav>

  
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn">Login</button>
    </div>
</form>
    <!-- Bootstrap JS, Popper.js, and jQuery are required for Bootstrap components to work -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js" integrity="sha384-ZPRDeMtDf/wDagROB7OloUMQNRmyR+L+qd9Bh9nPBH7svU3Vyh2mB6A4bW5Yg5D6" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+OTCZyBTUR+6jt4y5uHZTFgujvDdstyzr4k" crossorigin="anonymous"></script>