<link rel="stylesheet" href="../assets/register.css">

<form id="registration-form" action="/register" method="post">
    <div>
      <img src="../assets/images/company-logo.png" alt="Company Logo" id="company-logo" class="img-fluid">
    </div>

    <nav>
      <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="daily-report.html">Daily-Report</a></li>
      </ul>
  </nav>

  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required>
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  </form>
