<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Timesheet</title>
    <link rel="stylesheet" href="../assets/timesheet.css">
    <script src="index.js"></script>
</head>
<body>
    <header>
        <img src="../assets/images/company-logo.png" alt="Company Logo" id="company-logo" class="img-fluid">
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="timesheet.html">Timesheet</a></li>
            <li><a href="daily-report.html">Daily-Report</a></li>
        </ul>
    </nav>

    
    <main>
        <h1>Timesheet Entry</h1>
        <form id="timesheet-form" action="/submit-timesheet" method="post">
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div>
                <label for="start-time">Start Time:</label>
                <input type="time" id="start-time" name="start-time" required>
            </div>
            <div>
                <label for="end-time">End Time:</label>
                <input type="time" id="end-time" name="end-time" required>
            </div>
            <div>
                <label for="project">Project:</label>
                <input type="text" id="project" name="project" required>
            </div>
            <div>
                <label for="task">Task:</label>
                <textarea id="task" name="task" required></textarea>
            </div>
            <div>
                <button type="submit">Submit Timesheet</button>
            </div>
        </form>
    </main>
    
    <footer class="container mt-4">
        <p>&copy; 2024 John A. Pappalas Timesheet App. All rights reserved.</p>
    </footer>
        <!-- Bootstrap JS, Popper.js, and jQuery are required for Bootstrap components to work -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js" integrity="sha384-ZPRDeMtDf/wDagROB7OloUMQNRmyR+L+qd9Bh9nPBH7svU3Vyh2mB6A4bW5Yg5D6" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+OTCZyBTUR+6jt4y5uHZTFgujvDdstyzr4k" crossorigin="anonymous"></script>
</body>
</html>
